language: php

matrix:
    include:
        - php: 7.1
        - php: 7.2
          env: deps=low
    fast_finish: true

before_script:
  - phpenv config-rm xdebug.ini
  - if [[ $deps = low ]]; then composer update --prefer-lowest --prefer-stable; else composer install; fi

script:
  - ./vendor/bin/phpunit
