<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="file://./vendor/phpunit/phpunit/phpunit.xsd" bootstrap="vendor/autoload.php" beStrictAboutOutputDuringTests="true" beStrictAboutTodoAnnotatedTests="true" colors="true">
  <testsuite name="default">
    <directory suffix="Test.php">tests</directory>
    <exclude>tests/phar</exclude>
  </testsuite>
  <php>
    <env name="USER" value="test" force="true"/>
  </php>
  <extensions>
    <bootstrap class="Zalas\PHPUnit\Globals\Tests\Stub\CombinedExtension" />
  </extensions>
</phpunit>
